.socials {
  display: flex;
  flex-direction: row;
}

.social-icon {
  fill: #9896e4;
  margin: 0 25px;
}

.hook-shadow {
  -webkit-box-shadow: 0px 0px 15px 2px #6666ff;

  -moz-box-shadow: 0px 0px 15px 2px #6666ff;

  box-shadow: 0px 0px 15px 2px #6666ff;
}

.gradient-text {
  background: linear-gradient(45deg, #ccccff, #7b3cc3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
